.bottomMenu {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 10vw;
    height: 4vw;
    background: var(--floral-white);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition: all 1s;
    margin: 1rem;
}
.hide {
    opacity:0;
    right:-100%;
}
.show {
    opacity:1;
    right:0;
}