/* Add the Google Fonts you want, remove the ones you don't. 

███████  ██████  ███    ██ ████████ ███████ 
██      ██    ██ ████   ██    ██    ██      
█████   ██    ██ ██ ██  ██    ██    ███████ 
██      ██    ██ ██  ██ ██    ██         ██ 
██       ██████  ██   ████    ██    ███████ 

*/

@import url("https://fonts.googleapis.com/css?family=Hepta+Slab|Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('make-something-fly.css');
@import url('animated-gradient.css');
@import url('xtext-stroke.css');
@import url('stroke-shadow.css');
@import url('scroll-to-top.css');
/*

X-Small devices (portrait phones, less than 576px) 
No media query for `xs` since this is the default in Bootstrap 

███    ███  ██████  ██████  ██ ██      ███████     ███████ ██ ██████  ███████ ████████ 
████  ████ ██    ██ ██   ██ ██ ██      ██          ██      ██ ██   ██ ██         ██    
██ ████ ██ ██    ██ ██████  ██ ██      █████       █████   ██ ██████  ███████    ██    
██  ██  ██ ██    ██ ██   ██ ██ ██      ██          ██      ██ ██   ██      ██    ██    
██      ██  ██████  ██████  ██ ███████ ███████     ██      ██ ██   ██ ███████    ██    
                                                                                       
*/

/* Add Border Box and Smooth Scroll */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: url("up.png"), auto !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Use variable for to easily change your theme's colour scheme and typography.

██    ██  █████  ██████  ██  █████  ██████  ██      ███████ ███████ 
██    ██ ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██      ██      
██    ██ ███████ ██████  ██ ███████ ██████  ██      █████   ███████ 
 ██  ██  ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██           ██ 
  ████   ██   ██ ██   ██ ██ ██   ██ ██████  ███████ ███████ ███████ 
                                                                    
*/

:root {
  --primary-text-color: #222;
  --accent-color: #555;
  --hyperlink-color: #333;
  --hyperlink-alternate-color: orangered;
  --hover-color: #111;
  --body-typeface: "Inter", sans-serif;
  --heading-typeface: "Staatliches", cursive;
  --off-white: #f8f8ff;
  --isabelline: #f4f0ec;
  --baby-powder: #fefefa;
  --alice-blue: #f0f8ff;
  --alabaster: #f2f0e6;
  --floral-white: #fffaf0;
  --background-color: #f5f5f5;
  --alt-background-color: black;
  --text-selection-background-color: #555;
  --base-color: 0;
  --color-lightest: hsla(var(--base-color), 1%, 85%, 100%);
  --color-light: hsla(var(--base-color), 1%, 75%, 100%);
  --color-normal: hsla(var(--base-color), 1%, 50%, 100%);
  --color-dark: hsla(var(--base-color), 1%, 35%, 100%);
  --color-darkest: hsla(var(--base-color), 1%, 15%, 100%);
}


body {
  font-family: var(--body-typeface);
  color: var(--primary-text-color);
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

::selection {
  background: hotpink;
}

/* Making all images responsive */
img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  /* Removes the gap/space in inline elements for text descenders. */
  object-fit: contain;
  /* This is optional. Also try cover or leave out entirely. */

}



/* Global & Mobile Typography 

████████ ██    ██ ██████   ██████   ██████  ██████   █████  ██████  ██   ██ ██    ██ 
   ██     ██  ██  ██   ██ ██    ██ ██       ██   ██ ██   ██ ██   ██ ██   ██  ██  ██  
   ██      ████   ██████  ██    ██ ██   ███ ██████  ███████ ██████  ███████   ████   
   ██       ██    ██      ██    ██ ██    ██ ██   ██ ██   ██ ██      ██   ██    ██    
   ██       ██    ██       ██████   ██████  ██   ██ ██   ██ ██      ██   ██    ██    
                                                                                     
*/

h1 {
  font-size: 2rem;
  font-family: var(--heading-typeface);
  margin-bottom: 1rem;
  color: var(--baby-powder);
}

h2 {
  font-size: 2.25rem;
  font-family: var(--heading-typeface);
  margin-bottom: 1rem;
  color: var(--accent-color);
}

h3 {
  font-size: 1.325rem;
  margin-bottom: 1rem;
  line-height: 1.3;
}

/* Hyperlink Styles */
a {
  text-decoration: none;
  color: var(--hyperlink-color);
}

a:hover {
  color: var(--hover-color);

}

a:active {
  color: var(--hover-color);
  /* Tap on mobile */
}

.navigation-arrow {
  color: var(--alt-background-color);
}

.navigation-arrow:link {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #555555;
  color: transparent;
}

.navigation-arrow:active,
.navigation-arrow:hover {
  color: #5200FF;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #5200FF;
}

.colored-link {
  color: var(--hyperlink-alternate-color);
}

.custom-navigation:hover {
  background: url(heading-background.svg);
  background-size: 15%;
  background-repeat: no-repeat;
  background-position: center center;
}


p {
  line-height: 1.3;
  margin-bottom: 1rem;
}



/* Work Page Layout

██     ██  ██████  ██████  ██   ██     ██████   █████   ██████  ███████ 
██     ██ ██    ██ ██   ██ ██  ██      ██   ██ ██   ██ ██       ██      
██  █  ██ ██    ██ ██████  █████       ██████  ███████ ██   ███ █████   
██ ███ ██ ██    ██ ██   ██ ██  ██      ██      ██   ██ ██    ██ ██      
 ███ ███   ██████  ██   ██ ██   ██     ██      ██   ██  ██████  ███████ 

*/

.work-wrapper {
  flex: 1;
}

/* Padding around work grid and project page */
.portfolio,
.project-wrapper {
  padding: .25rem
}

/* Defining the work page grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  /* Magical, media-query-less responsiveness is achieved using the repeat() function and the auto placement keywords. To achieve wrapping, we can use the auto-fit. If you're using auto-fit, the content will stretch to fill the entire row width.  Specify a minimum width for the columns, using the minmax() function. The 1fr is what tells the browser to distribute the space between the columns so that each column equally gets one fraction of that space.  */
}




/* Optional – Sizing the work page images */
/* figure {
  max-height: 250px;
  overflow: hidden;
  position: relative;
} */


/* Hero 

██   ██ ███████ ██████   ██████  
██   ██ ██      ██   ██ ██    ██ 
███████ █████   ██████  ██    ██ 
██   ██ ██      ██   ██ ██    ██ 
██   ██ ███████ ██   ██  ██████  
                                 
*/

.hero {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  /* background: rgb(238, 174, 202);
  background: radial-gradient(circle,
      rgba(238, 174, 202, 1) 0%,
      rgba(148, 187, 233, 1) 100%); */
}

.branding-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.logo {
  width: 3rem;
}

.hero-headline-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 2rem 4rem;
  text-align: center;
}

.hero-icon {
  font-size: 4rem;
}

.hero-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
  color: white;
}

.hero-footer-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

/* This part isn't required */

.projects {
  background: #111;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


/* Global Footer

███████  ██████   ██████  ████████ ███████ ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
█████   ██    ██ ██    ██    ██    █████   ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
██       ██████   ██████     ██    ███████ ██   ██ 
                                                   
*/




.global-footer,
.about {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
  min-height: 100vh;
  background: #f5f5f5;
  padding: 1rem 1rem;
}

.footer-item-1,
.about-item-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.footer-item-2,
.about-item-2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.footer-item-3,
.about-item-3 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.footer-item-4,
.about-item-4 {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

/* Project Page 

██████  ██████   ██████       ██ ███████  ██████ ████████     ██████   █████   ██████  ███████ 
██   ██ ██   ██ ██    ██      ██ ██      ██         ██        ██   ██ ██   ██ ██       ██      
██████  ██████  ██    ██      ██ █████   ██         ██        ██████  ███████ ██   ███ █████   
██      ██   ██ ██    ██ ██   ██ ██      ██         ██        ██      ██   ██ ██    ██ ██      
██      ██   ██  ██████   █████  ███████  ██████    ██        ██      ██   ██  ██████  ███████ 
                                                                                               
*/

.project-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--alt-background-color);
}

/* Sidebar */
.project-aside {
  width: 100%;
  color: white;
  background: orangered;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.project-navigation {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: flex-end;
}

.arrow {
  padding-right: 1rem;
}

.project-image {
  font-size: 12rem;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-image {
  font-size: 14rem;
}


/* Main Project Image Area */
.project-details {
  width: 100%;
  background-image: linear-gradient(-225deg,
      #ff057c 0%,
      #8d0b93 50%,
      #321575 100%);
  padding: 1rem;
}
























/*

 ██████  ███    ███ ███████ ██████   █████  
██    ██ ████  ████ ██      ██   ██ ██   ██ 
██ ██ ██ ██ ████ ██ █████   ██   ██ ███████ 
██ ██ ██ ██  ██  ██ ██      ██   ██ ██   ██ 
 █ ████  ██      ██ ███████ ██████  ██   ██ 
                                            
                                           
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  body {
    background: var(--color-darkest);
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    background: var(--color-dark);
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    background: var(--color-normal);
  }

  h1 {
    font-size: 4.275rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.625rem;
  }




  .logo {
    width: 5rem;
  }

  .hero {
    min-height: 100vh;
  }

  .hero-headline-wrapper {
    padding: 4rem 8rem;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 1rem;
  }

  /* Grayscale filter with full-colour on hover and tap */
  .work-page-grid-item a img {
    filter: grayscale(100);
  }

  .work-page-grid-item>a:hover img,
  .work-page-grid-item>a:active img {
    filter: grayscale(0);
  }


  .global-footer,
  .about {
    padding: 4rem 4rem;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .footer-item-1,
  .about-item-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .footer-item-2,
  .about-item-2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  .footer-item-3,
  .about-item-3 {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
  }

  .footer-item-4,
  .about-item-4 {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    text-align: center;
    align-self: end;
  }

  /* Padding around work grid and project page */
  .portfolio,
  .project-wrapper {
    padding: .5rem
  }

  /* Project Page Flex Direction on Large Devices */
  .project-wrapper {
    flex-direction: row;

  }


  /* Sidebar on Large Devices */
  .project-aside {
    width: 35%;
    height: 50vh;
    position: -webkit-sticky;
    position: sticky;
    top: 5vh;
  }


  /* Main Project Image Area on Large Devices */
  .project-details {
    width: 65%;
  }


  .project-image {
    min-height: 100vh;
  }




  /* X-Large devices (large desktops, 1200px and up)*/
  @media (min-width: 1200px) {
    body {
      background: var(--color-light);
    }
  }

  /* XX-Large devices (larger desktops, 1400px and up) */
  @media (min-width: 1400px) {
    body {
      background: var(--color-lightest);
    }
  }