* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 10px 20px;
}
.nav-branding-logo {
  color: #ffffff;
  font-size: 24px;
}
.nav-list {
  list-style: none;
  display: flex;
  padding: 15px;
}
.nav-list li {
  position: relative;
  margin: 0 15px 0 0;
}
.nav-list a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}
.nav-list a:hover {
  color: #4570ff;
}

/*Mobile Styles */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.bar {
  height: 3px;
  width: 25px;
  background-color: #ffffff;
  margin: 3px 0;
}

/* Media Queries */
@media (max-width: 768px) {
  .nav-list {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 47px;
    left: 0;
    background-color: #000000;
  }
  .nav-list li {
    padding: 15px;
    text-align: center;
  }
  .nav-list.active {
    display: flex;
  }
  .menu-toggle {
    display: flex;
  }
}
