:root {
  --gradient: linear-gradient(45deg, #27dbb1, #ffdc18, #ff3706, #f17c58, #e94584, #24aadb);
}

.gradient-animation {
  background-size: 600%;
  background-image: var(--gradient);
  animation: bg-animation 90s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}
