/*
███████ ██   ██ ██████  ███████ ██████  ██ ███    ███ ███████ ███    ██ ████████ ███████ 
██       ██ ██  ██   ██ ██      ██   ██ ██ ████  ████ ██      ████   ██    ██    ██      
█████     ███   ██████  █████   ██████  ██ ██ ████ ██ █████   ██ ██  ██    ██    ███████ 
██       ██ ██  ██      ██      ██   ██ ██ ██  ██  ██ ██      ██  ██ ██    ██         ██ 
███████ ██   ██ ██      ███████ ██   ██ ██ ██      ██ ███████ ██   ████    ██    ███████ 
*/

/* TODO: Delete these styles if you are not using any of the features on the experiment pages. If you want to use some but not all of them, copy the styles you want to style.css before deleting this file. This file is only for demo purposes and will not break your site if it is removed. */

.experiments-page {
    display: grid;
    place-items: center;
}

.experiments-page-inner-container {
    text-align: center;
    min-height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.experiments-page-title {
    color: var(--accent-color);
    font-size: 2rem;
}

.experiment-1-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    flex: 1;
}

.experiment-2-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.sub-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem;
    text-align: center;
}


a.sub-navigation-link {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    padding: 1rem;
}

a.sub-navigation-link:hover {
    color: var(--accent-color);
    padding: 1rem;
}

/* Let's size the boxes */

.experiment-box {
    width: 50%;
    padding: 2rem;
    display: grid;
    place-items: center;
}

.image {
    width: 40%;
}

/* Let's hide box 2 */

.experiment-image-2 {
    display: none;
}

.experiment-image-single {
    width: 20rem;
    padding: 2rem;
    display: grid;
    place-items: center;
}

#heyday-logo-blue {
    animation: rotation 9s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}