/* ------------------------------------------------------------------- */
/* Blink                                                               */
/* Add the .blink class to any element to make it blink on and off.    */
/* Safely delete this file if you are not using this effect.           */
/* ------------------------------------------------------------------- */

.blink {
  animation: 1s infinite blink;
  display: inline-block;
}

@keyframes blink {
  0%,
  15% {
    opacity: 0;
  }
  16%,
  100% {
    opacity: 1;
  }
}
